{% extends 'base/base.html' %}
{% load bootstrap5 %}
{% block title %}
    خطا در اجرای فرایند
{% endblock %}
{% block content %}
    <div class="center-block text-center">
	    <h1 class="text-center text-danger">مشکلی در احرای این فرایند به وجود آمده</h1>
        <h3 class="text-center">این خطا ممکن است به دلیل اجرای فرایند نادرست یا بروز مشکل در سایت نشان داده شود</h3>
        <br>
        <hr>
        <br>
        <h3 class="text-center">لطفا دوباره تلاش کنید، اگر فکر می کنید که مشکلی در سایت وجود دارد، آن را فورا به پشتیبانی سایت اطلاع دهید.</h3>
        <br>
        <a href="" class="btn-danger">ارتباط با پشتیبانی</a>
    </div>
{% endblock %}
