{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="{% url 'home' %}">
            <img src="{% static 'img/icon.png' %}" alt="" width="40" height="40" class="d-inline-block align-text-middle">
            The Notebook
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Colleges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Buy Courses</a>
                </li>
            </ul>
            <!-- Right side link -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        {% if request.user.role == "student" %}
                            <a class="btn btn-outline-primary" href="{% url 'dash-students-profile' %}">Dashboard</a>
                        {% else %}
                            <a class="btn btn-outline-primary" href="{% url 'dash-teachers-profile' %}">Dashboard</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login / Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
