{% extends 'base/dashboard.html' %}
{% load bootstrap5 %}
{% block title %}
    Edit Course
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" action="{% url 'dash-teachers-courses-edit' pk %}" novalidate class="dash_form shadow-sm rounded" enctype="multipart/form-data">
            <h1 class="text-center">Edit This Course</h1>
            <br>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" name="btn" value="submit" class="btn btn-outline-primary w-100">Done</button>
        </form>
    </div>
{% endblock %}
